streamlit
google-generativeai
langchain
langchain-google-genai
langchain_community
pypdf
chromadb
python-dotenv
streamlit-authenticator
bcrypt
pysqlite3-binary

# NEW: Add the specific Chroma integration package
langchain-chroma